/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;

  position: relative;
  font-size: 14px !important;
  height: 100vh;
  background: #cccccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
  display: block !important;
  justify-content: center;
  align-items: center;
  color: #444444 !important;
}

header {
  font-size: 0.9em;
}

footer {
  font-size: 0.9em;
}
.bg-orange {
  background-color: #ff9800;
  border: none;
}
.bg-orange-soft {
  background-color: #f7f7f7;
  border: none;
}
.bde-header {
  text-transform: uppercase;
}
.bde-header strong {
  text-transform: lowercase;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow:
    0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  font-weight: 100 !important;
  margin: 0;
  color: #ff9800 !important;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
  font-weight: 100 !important;
  color: #ff9800 !important;
}

p {
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
}
button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.MainApplicationHello {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 20px;

  width: 70%;
}

.MainFooter {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
