.BdeBarCode {
  margin: 1px;
  padding: 1px;
  width: 100%;
  text-align: left;
}
.BdeBarCodeArea {
  background: #ffffff;
  margin: 1px;
  min-width: 220px;
  max-width: 280px;
  text-align: left;
  font-size: 16px !important;
}
