.UserSelectArea {
  background: #eeeeee;
  margin-top: 10px;
  padding: 10px;
}
.noborder-cell {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: 5%;
  padding: 0 !important;
}

.TaskNr {
  font-size: 14px !important;
}
.TaskWarning {
  background: #ffffff !important;
  color: #b4520c !important;
  font-size: 13px;
}
